<div id="inner"><!--inner-start-->
    
    	<div id="login-window"><!--login-window-start-->
        
       <div align="center" style="color:#666; font-weight:bold;"> 
       <!--Wellness Expo InterlinX is Closed Now..!!!-->
       <form id="form1" name="form1" method="post" action="" onsubmit="return validate()">    
        <div class="card-logo"><!--card-logo-start-->
               
                <span class="mbr-lgn">Welcome to Partnering tool - InterlinX</span>
                  
              </div><!--card-logo-start-->
              
              <div class="member-login"><!--member-login-start-->
              
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="26%"><img src="../assets/images/avtar.png" alt="Member Login" border="" align="left"/>		</td>
                          <td width="74%"><span class="mbr-lgn"><em>Member Login</em></span></td>
                        </tr>
          </table>

              
              </div><!--member-login-end-->
              
              <div class="inputs"><!--inputes-start-->
                    <input type="text" name="login" id="login" placeholder="Username"  class="uname"/>
                      <br/>
                      
                      <input type="password" name="pass" id="pass" placeholder="Password"  class="pass"/>
            
              </div><!--inputes-end-->
              
              <div class="btm"><!--btm-start-->
                
                  <div class="fleft"><!--start--> 
                  
                  <a href=""><em><u>Forgot your password?</u></em></a><br/>
                  
                <ul>
                <li><input type="checkbox" name="remember"/></li>
                <li><em> Remember me</em></li>
                </ul>
                  
                  </div><!--end-->
                  
                  <div class="fright btn-let-me"><!--Let me In btn start--> 
                  <input type="submit" name="Sign" value="Let me In!" class="in-btn"/>
                  </div><!--Let me In btn end--> 
              
              </div><!--btm-end-->
    </form>


        </div><!--login-window-end-->
    
    
    </div><!--inner-end-->

</div><!--main-wrapper-end-->